<a href="https://colab.research.google.com/github/chepkemoi93/credit_scoring/blob/main/uwezo_fund_applicants_prediction_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('uwezofund.csv')
df.head()

,Unnamed: 0,Name,GFS_Code,Age_In_Years,Location,Sector,Category,Repayment_Period_In_Months,Existing_Loans,Table_Banking,Amount_Issued,Amount_Due,Amount_cummulatively_in_arrears,Outstanding_Loan_Balance,Segment
0,0,Name 1,KGPC66586252671772,2.0,3.0,5,2,1.0,1,0,1.0,72916.666667,72916.666667,5.0,High
1,1,Name 2,RCTL35618694677965,2.0,3.0,5,2,1.0,1,1,3.0,218750.000000,206250.000000,3.0,High
2,2,Name 3,KZIL25207406691142,2.0,3.0,5,2,1.0,1,1,1.0,72916.666667,45871.666667,5.0,High
3,3,Name 4,JDXO92051148164880,2.0,3.0,5,3,1.0,1,0,2.0,145833.333333,145833.333333,4.0,High
4,4,Name 5,PXDN04687748755878,2.0,3.0,5,2,1.0,1,1,3.0,218750.000000,212500.000000,3.0,High

In [ ]:
df.Segment.value_counts() / len(df)

Segment
High    0.794059
Low     0.205941
Name: count, dtype: float64

In [ ]:
df.fillna(0)

,Unnamed: 0,Name,GFS_Code,Age_In_Years,Location,Sector,Category,Repayment_Period_In_Months,Existing_Loans,Table_Banking,Amount_Issued,Amount_Due,Amount_cummulatively_in_arrears,Outstanding_Loan_Balance,Segment
0,0,Name 1,KGPC66586252671772,2.0,3.0,5,2,1.0,1,0,1.0,72916.666667,72916.666667,5.0,High
1,1,Name 2,RCTL35618694677965,2.0,3.0,5,2,1.0,1,1,3.0,218750.000000,206250.000000,3.0,High
2,2,Name 3,KZIL25207406691142,2.0,3.0,5,2,1.0,1,1,1.0,72916.666667,45871.666667,5.0,High
3,3,Name 4,JDXO92051148164880,2.0,3.0,5,3,1.0,1,0,2.0,145833.333333,145833.333333,4.0,High
4,4,Name 5,PXDN04687748755878,2.0,3.0,5,2,1.0,1,1,3.0,218750.000000,212500.000000,3.0,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,1016,Name 894,DTWM82259838786319,0.0,1.0,4,3,4.0,1,0,2.0,50000.000000,0.000000,4.0,High
1006,1017,Name 891,ZWWV42503200194764,0.0,1.0,4,2,4.0,1,0,4.0,125000.000000,0.000000,2.0,High
1007,1018,Name 774,PUIZ78668803521071,0.0,1.0,4,3,4.0,1,0,3.0,100000.000000,0.000000,3.0,High
1008,1019,Name 787,CEXL01374951566902,0.0,3.0,5,3,4.0,1,0,3.0,75000.000000,0.000000,3.0,High
1009,1020,Name 242,PFXV48636797022480,0.0,1.0,4,3,4.0,1,0,4.0,125000.000000,0.000000,2.0,High

In [ ]:
from sklearn import preprocessing

# Loop over each column in the DataFrame where dtype is 'object'
for col in df.select_dtypes(include=['object']).columns:

    # Initialize a LabelEncoder object
    label_encoder = preprocessing.LabelEncoder()

    # Fit the encoder to the unique values in the column
    label_encoder.fit(df[col].unique())

    # Transform the column using the encoder
    df[col] = label_encoder.transform(df[col])

    # Print the column name and the unique encoded values
    print(f"{col}: {df[col].unique()}")

Name: [  0 111 222 333 444 555 666 777 888   1  12  23  34  45  56  67  78  89
 100 112 123 134 145 156 167 178 189 200 211 223 234 245 256 267 278 289
 300 311 322 334 345 356 367 378 389 400 411 422 433 445 456 467 478 489
 500 511 522 533 544 556 567 578 589 600 611 622 633 644 655 667 678 689
 700 711 722 733 744 755 766 778 789 800 811 822 833 844 855 866 877 889
 900 911 919 920 921 922 923 924 925   2   3   4   5   6   7   8   9  10
  11  13  14  15  16  17  18  19  20  21  22  24  25  26  27  28  29  30
  31  32  33  35  36  37  38  39  40  41  42  43  44  46  47  48  49  50
  51  52  53  54  55  57  58  59  60  61  62  63  64  65  66  68  69  70
  71  72  73  74  75  76  77  79  80  81  82  83  84  85  86  87  88  90
  91  92  93  94  95  96  97  98  99 101 102 103 104 105 106 107 108 109
 110 113 114 115 116 117 118 119 120 121 122 124 125 126 127 128 129 130
 131 132 133 135 136 137 138 139 140 141 142 143 144 146 147 148 149 150
 151 152 153 154 155 157 158 159 160 161 162 163 164 165 166 168 169 170
 171 172 173 174 175 176 177 179 180 181 182 183 184 185 186 187 188 190
 191 192 193 194 195 196 197 198 199 201 202 203 204 205 206 207 208 209
 210 212 213 214 215 216 217 218 219 220 221 224 225 226 227 228 229 230
 231 232 233 235 236 237 238 239 240 241 242 243 244 246 247 248 249 250
 251 252 253 254 255 257 258 259 260 261 262 263 264 265 266 268 269 270
 271 272 273 274 275 276 277 279 280 281 282 283 284 285 286 287 288 290
 291 292 293 294 295 296 297 298 299 301 302 303 304 305 306 307 308 309
 310 312 313 314 315 316 317 318 319 320 321 323 324 325 326 327 328 329
 330 331 332 335 336 337 338 339 340 341 342 343 344 346 347 348 349 350
 351 352 353 354 355 357 358 359 360 361 362 363 364 365 366 368 369 370
 371 372 373 374 375 376 377 379 380 381 382 383 384 385 386 387 388 390
 391 392 393 394 395 396 397 398 399 401 402 403 404 405 406 407 408 409
 410 412 413 414 415 416 417 418 419 420 421 423 424 425 426 427 428 429
 430 431 432 434 435 436 437 438 439 440 441 442 443 446 447 448 449 450
 451 452 453 454 455 457 458 459 460 461 462 463 464 465 466 468 469 470
 471 472 473 474 475 476 477 479 480 481 482 483 484 485 486 487 488 490
 491 492 493 494 495 496 497 498 499 501 502 503 504 505 506 507 508 509
 510 512 513 514 515 516 517 518 519 520 521 523 524 525 526 527 528 529
 530 531 532 534 535 536 537 538 539 540 541 542 543 545 546 547 548 549
 550 551 552 553 554 557 558 559 560 561 562 563 564 565 566 568 569 570
 571 572 573 574 575 576 577 579 580 581 582 583 584 585 586 587 588 590
 591 592 593 594 595 596 597 598 599 601 602 603 604 605 606 607 608 609
 610 612 613 614 615 616 617 618 619 620 621 623 624 625 626 627 628 629
 630 631 632 634 635 636 637 638 639 640 641 642 643 645 646 647 648 649
 650 651 652 653 654 656 657 658 659 660 661 662 663 664 665 668 669 670
 671 672 673 674 675 676 677 679 680 681 682 683 684 685 686 687 688 690
 691 692 693 694 695 696 697 698 699 701 702 703 704 705 706 707 708 709
 710 712 713 714 715 716 717 718 719 720 721 723 724 725 726 727 728 729
 730 731 732 734 735 736 737 738 739 740 741 742 743 745 746 747 748 749
 750 751 752 753 754 756 757 758 759 760 761 762 763 764 765 767 768 769
 770 771 772 773 774 775 776 779 780 781 782 783 784 785 786 787 788 790
 791 792 793 794 795 796 797 798 799 801 802 803 804 805 806 807 808 809
 810 812 813 814 815 816 817 818 819 820 821 823 824 825 826 827 828 829
 830 831 832 834 835 836 837 838 839 840 841 842 843 845 846 847 848 849
 850 851 852 853 854 856 857 858 859 860 861 862 863 864 865 867 868 869
 870 871 872 873 874 875 876 878 879 880 881 882 883 884 885 886 887 890
 891 892 893 894 895 896 897 898 899 901 902 903 904 905 906 907 908 909
 910 912 913 914 915 916 917 918]
GFS_Code: [295 487 315 274 443  14 129 541 189 211 512 156 548  26 579 516 302 361
 675 370 626 418 297 406 365  67 195 250 562  74 617 405 536  76 170 679
 382 713 481 469 663 567 204 198 627 119 383   5 423 401 151 152 728 373
 721 328 503 471 332 484 666 171 392 395 122 335 687 273 618 237 460 105
 625 694  81 225  28 447 703 200 167 640 637 265  33 344 571 634  72 639
 644  83 202 651 702 453 726 313 413  54 508 231 631 685  61 437 623 289
 665 661 549 652 390 150 261 103 480 499 312 556 378  29 660 239 199 445
 714 284 346 333 403 657 584 186  34 544 668 329 303 400 473 358 323 216
 569 148 730  17 256 450 701  77 106 734 145 582  90 568 575 277  63 603
 143 553 166 109 228 601  40  23  56 680 550 339 599 249 552 188  42  95
 123 107 144 112  64 452 385 590 246   1 309 177 528 587 292 100 535 527
 293 604 589 282 456 117 414 538 609 433 489  88 192 593 458 514 451 149
 616 132 229 426 270 560 676 334 692 505 278 449 298  30 539  55 214 492
 182 169 681  53 305 290 394 664 389   4 307 466 686 491 490 710  69  13
 470 715 301 537 324 409 266 338 429 381 128 175 643  50 630  65 125 671
 546 147 461 168 629 464 678 262 683 610 607 557 551 574 275 183 350 396
 595 611 108 523   8 729 500 615 219 704 164 428 415 420  10 540 591 357
  47 325 649 208 320  31 732 245 209 340 509 521 362 140 141 638 677 155
 592 645 299 711 674 351  79 102 707 486 410 154 269 572 404  62 672 438
 173 736 485 104 310 526 281 330 735 291 434  75 272 446 479 519 190 605
 268 366 624 483 669 212 691  57 502 218 317  39 257 258 493 632 159 187
 531 497 241 376 285 578 136  70  66 642 252 280 391  35 659 712 160 393
 682 207 696 513  44 422 234 459 498  71 181 304 608 201 286 662 134 311
 494 235 248 475 525 137 705 635 308 566 371 424 441 431 124 402 380  12
 688 586 598 530 213 259 693 111 321 121 247 227  46 504   3 316 153 542
  49 457  68 543 667 641 427 163 706 138 327 345 158 725 408  38 205 353
 355  20 718 356 511 116 130 417 263 287 648 115 221 439 120 398 488 522
  60  58 588 336 727 597 467 399  11  86 243  85 379 720 283 600 419 306
 533  18 240 690 699 372 432 517 698 384 244 596 411 222 435 348 242 161
 474 135  80  36 352 255 709 518 407 264 656 476 684 580 416  73 142 220
 622 210 558 359 444 131  89 545 318 565 717 387 501 673 191 496  37 226
 314 165 127 412  59 724 296 288 436 368 477  92 532   9  91 655 658 555
  45 342 110 326 179  15 322  48 215 613 507 577 133 602 194  94 440 472
 341  22 650 695 185  52 230 731 114 319 233  78 238 628 193 520 369 581
 646 554 454  96 647 294 700 224 442 178 619 360  19 722 506  84 267 254
 388  87 636 196 463 251  41 347 462 276 594  27 510 455 236 157 654 614
 716 620 697 113   0 478 468  43 723 495 206 101 180 232 343 386 529 719
 271 162 126 176 375 337 547 217 564 448 349 482 561 534 653 559  32  21
  51   7 606 708 331 576 253  16 524  97   2 585 377 570 260 146 397 367
 139 515 172   6 174 633  99 184 621 279 563  25 733 363 203 118 197 425
 689  93 573 612  98 430 300  82 374  24 465 670 223 583 364 354 421]
Segment: [0 1]

In [ ]:
X = df.drop(['Segment'], axis=1)
y = df['Segment']

In [ ]:
# Split data into training, validation and test sets, ensuring the class distribution is maintained
from sklearn.model_selection import train_test_split
#split into train_validate_test sets
#train size 70%, validate size 10% and test size 20%
train_ratio = 0.70
test_ratio = 0.20
validation_ratio = 0.10
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_ratio, stratify=df['Segment'])
X_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, test_size=validation_ratio/(train_ratio+test_ratio), stratify=y_train)
print(X_train.shape)
print(X_valid.shape)
print(X_test.shape)
print(y_train.shape)
print(y_valid.shape)
print(y_test.shape)

(718, 14)
(90, 14)
(202, 14)
(718,)
(90,)
(202,)

In [ ]:
def run_Logit(X_train, X_test, y_train, y_test, class_weight):
    logit = LogisticRegression(
        penalty='l2',
        solver='newton-cg',
        random_state=0,
        max_iter=10,
        n_jobs=4,
        class_weight=class_weight # weights / cost
    )

    logit.fit(X_train, y_train)
    print('Train set')
    pred = logit.predict_proba(X_train)
    print('roc-auc: {}'.format(roc_auc_score(y_train, pred[:, 1])))
    print('Test set')
    pred = logit.predict_proba(X_test)
    print('roc-auc: {}'.format(roc_auc_score(y_test, pred[:, 1])))

In [ ]:
import numpy as np

print(np.isnan(X_train).sum())
print(np.isnan(y_train).sum())
print(np.isnan(X_test).sum())
print(np.isnan(y_test).sum())

Unnamed: 0                           0
Name                                 0
GFS_Code                             0
Age_In_Years                         4
Location                             5
Sector                               0
Category                             0
Repayment_Period_In_Months          97
Existing_Loans                       0
Table_Banking                        0
Amount_Issued                        7
Amount_Due                           0
Amount_cummulatively_in_arrears      0
Outstanding_Loan_Balance           137
dtype: int64
0
Unnamed: 0                          0
Name                                0
GFS_Code                            0
Age_In_Years                        6
Location                            1
Sector                              0
Category                            0
Repayment_Period_In_Months         33
Existing_Loans                      0
Table_Banking                       0
Amount_Issued                       1
Amount_Due                          0
Amount_cummulatively_in_arrears     0
Outstanding_Loan_Balance           41
dtype: int64
0

In [ ]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy="mean")

X_train = imputer.fit_transform(X_train)
X_test = imputer.transform(X_test)

In [ ]:
run_Logit(X_train,
          X_test,
          y_train,
          y_test,
          class_weight=None)

Train set
roc-auc: 0.6309506875296349
Test set
roc-auc: 0.6166666666666667

In [ ]:
run_Logit(X_train,
          X_test,
          y_train,
          y_test,
          class_weight='balanced')

Train set
roc-auc: 0.7159791370317686
Test set
roc-auc: 0.7083333333333334

In [ ]:
run_Logit(X_train,
          X_test,
          y_train,
          y_test,
          class_weight={0:1, 1:10})

Train set
roc-auc: 0.729800853485064
Test set
roc-auc: 0.7273809523809524